body{
  
  
  background-image: url("imagesJ.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}



.brands{
  margin:10px;
  
}
  
td img{
  box-shadow: 1px 1px 10px black;
  border: 5px solid #000000;
  transition: 2s;
  border-radius: 20px;
  background-color: grey;
  width: 500px;
  height: 250px;
}  
td img:hover{
  width: 450px;
  height: auto;
  
  
  
}
p{
  font-size: 50px;
  text-shadow: 1px 1px 10px white;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: indianred;
  
  
}