body{
  background-image: url("imagesJ.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  
}

p{
  color: indianred;
  text-shadow: 1px 1px 3px black;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  
}
h4{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
  text-decoration-line: underline;
  
  
  
}
h5{
  color: grey;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight:100px;
  font-style: normal;
  
}
td img{
  box-shadow: 1px 1px 10px #000000;
  border: 1px solid #000000;
  border-radius: 20px;
  transition: 2s;
}

td img:hover {
  width: 200px;
  height: auto;



}